@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Source+Serif+4:wght@300&display=swap');

.App 
{
  font-family: 'Source Serif 4', sans-serif;
  text-align: center;
  color: #fff;
}

body 
{
  background-image: url("/public/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
  
input 
{
    padding: 0.5rem 3rem;
}
  
span 
{
    font-size: 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.button-30 {
    margin: 1%;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    text-align: left;
    background-color: #f8c8e4;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 5px 5px 10px #8b1a40;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-weight: bolder;
    color: #d42962;
    transition: box-shadow 0.15s, transform 0.15s;
  }
  
  .button-30:hover {
    box-shadow:  5px 4px 8px #f7b8cd;
    transform: translateY(-2px);
  }